/* body{
background-color: aqua;
border: 2px solid black;
text-align: center;
}

p{
    color: green;
}

h1{
    color: red;
}

h2{
    color: aliceblue;
}
#nsu{
    color: darkblue;
}
.jabber{
    color: brown;
} */

body{
    background-image: url("/img/background.jpg");
    background-size: 1500px 750px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.header a{
    border: solid white 4px;
    display: inline-block;
    color:chartreuse;
    margin-top: 300px;
    margin-bottom: 400x;
    margin-left: 500px;
    margin-right: 400px;
    padding: 15px;
}

.navbar{
    max-width: 500px;
    border: 15px solid green;
    background-color: lightgrey;
    padding: 15px;
    margin: 25px;
}

.navbar p{
    font-family: 'Dancing Script', cursive;
}